# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
client/.env
server/.env

# Uploaded files
uploads/
server/uploads/

# Build folders
dist/
client/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db